<main>
    <input *ngIf="chartType===('pie-advanced')" type="number" class="day-input" min="0" [max]="lineChartArr.length" [(ngModel)]="examinedDay" (ngModelChange)="getPieChartData()">
    <div class="chart" [ngSwitch]="chartType">
        <!--
        -->
        <ngx-charts-area-chart-normalized
        *ngSwitchCase="'line-normalized'"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="lineChartArr"
        [animations]="false"
        >
        </ngx-charts-area-chart-normalized>   
        
        <ngx-charts-line-chart
        *ngSwitchCase="'line-normal'"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="lineChartArr"
        >
        </ngx-charts-line-chart>         
        

        <ngx-charts-advanced-pie-chart
        *ngSwitchCase="'pie-advanced'"
        [scheme]="colorScheme"
        [results]="pieChartArr"
        [gradient]="true"
        >
        </ngx-charts-advanced-pie-chart>

    </div>
    <div class="buttons">
        <app-button-three (click)="pickChartType('line-normal')">
            Regular timeline
        </app-button-three>
        <app-button-three (click)="pickChartType('line-normalized')">
            Normalized timeline
        </app-button-three>
        <app-button-three (click)="pickChartType('pie-advanced')">
            Pie chart
        </app-button-three>
        <app-button-three (click)="pickChartType('bar-normal')">
            Bar chart
        </app-button-three>
    </div>

</main>

