<main>
    <input *ngIf="chartType===('pie-regular') || chartType===('pie-advanced')" type="number" class="day-input" min="0" [max]="lineChartArr.length" [(ngModel)]="examinedDay" (ngModelChange)="getPieChartData()">
    <div class="chart" [ngSwitch]="chartType">
        <!--
        -->
        <ngx-charts-area-chart-normalized
        *ngSwitchCase="'line-normalized'"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="lineChartArr"
        [animations]="false"
        >
        </ngx-charts-area-chart-normalized>   
        
        <ngx-charts-line-chart
        *ngSwitchCase="'line-normal'"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="lineChartArr"
        >
        </ngx-charts-line-chart>         
        
        <ngx-charts-advanced-pie-chart
        *ngSwitchCase="'pie-advanced'"
        [scheme]="colorScheme"
        [results]="pieChartArr"
        [gradient]="true"
        >
        </ngx-charts-advanced-pie-chart>

        <ngx-charts-pie-chart
        *ngSwitchCase="'pie-regular'"
        [scheme]="colorScheme"
        [results]="pieChartArr"
        [gradient]="true"
        >
        </ngx-charts-pie-chart>

    </div>
    <div class="buttons">
        <div class="buttons-legend">
            <div class="button-legend-name" *ngFor="let chart of chartTypes" [style.flex]="chart.value + ' 1'">
                {{chart.type}}
            </div>
        </div>
        <app-button-three (click)="pickChartType('line-normal')">
            Regular
        </app-button-three>
        <app-button-three (click)="pickChartType('line-normalized')">
            Normalized
        </app-button-three>
        <app-button-three (click)="pickChartType('pie-regular')">
            Regular
        </app-button-three>
        <app-button-three (click)="pickChartType('pie-advanced')">
            Advanced
        </app-button-three>
        <app-button-three (click)="pickChartType('bar-normal')">
            Regular
        </app-button-three>
    </div>

</main>

