$borderRadius: 1rem;
$borderColor: rgb(241, 241, 241);

main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4rem 25%;
}

.search{
    width: 100%;
    position: relative;

    input{
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: 1.3rem;
        border-radius: 1rem;
        border: 1px solid $borderColor;
    }

    img{
        position: absolute;
        height: 1.3rem;
        top: 50%;
        right: 1.5rem;
        transform: translate(0,-50%);
        pointer-events: none;
    }
}

.simulation-wrap{
    position: relative;
    background-color: rgb(85, 85, 85);
    border-radius: calc(1.1rem);
    margin: 1.5rem 0;
    width: 100%;
    background-image: var(--backgroundPattern);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.082) inset;
}

.simulation{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: white;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    max-height: 7rem;
    overflow: hidden;
    transition: 0.2s ease;

    &:hover{
        top: 0.5rem;
        left: 0.5rem;
        border-color: transparent;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.11);
    }

    &.expand{
        max-height: 15rem;
        top: 0.5rem;
        left: 0.5rem;
        border-color: transparent;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.11);
    }

    .thumbnail{
        display: flex;
        align-items: center;
        height: 5rem;

        h1{
            &::first-letter{
                color: var(--colorAccent1);
            }
        }

        p{
            margin: 2rem;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            background-color: var(--colorAccent1);
            color: white;
        }

        .thumbnail-buttons{
            margin-left: auto;
            position: relative;
            display: flex;

            button{
                height: 3rem;
                width: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.5rem;
                cursor: pointer;
                background: transparent;
                border: 1px solid transparent;
                transition: 0.2s ease;
                border-radius: 0.3rem;
                
                &:hover{
                    border-color: $borderColor;
                }
                img{
                    height: 1.3rem;
                }
            }
        }
    }

    .more{
        display: flex;
        flex-wrap: wrap;

        .option{
            display: flex;
            align-items: center;
            padding: 0.5rem;
            margin: 1rem;
            background-color: white;
            font-size: 1rem;

            img{
                height: 1rem;
                margin-right: 1rem;
            }
        }
    }
}
