<main>
    <div class="simulation-wrap" *ngFor="let simulation of simulations; index as i">
        <div class="simulation"  [ngClass]="expandedSimulations.includes(i) ? 'expand': 'shrink'">
            <div class="thumbnail">
                <h1>{{simulation.options.name}}</h1>
                <p>Simulation2d</p>  
                <div class="thumbnail-buttons">
                    <button (click)="loadSimulation(simulation)">
                        <img src="assets/icons/load.svg" alt="">
                    </button>
                    <button (click)="expandSimulation(i)">
                        <img src="assets/icons/expand.svg" alt="">
                    </button>
                </div>          
            </div>
            <div class="more">
                <div class="option">
                    <img src="assets/icons/population.svg" alt="">
                    <p>{{simulation.options.populationSize}}</p>
                </div>
                <div class="option">
                    <img src="assets/icons/virus.svg" alt="">
                    <p>{{simulation.options.startingInfected}}</p>
                </div>
                <div class="option">
                    <img src="assets/icons/share.svg" alt="">
                    <p>{{simulation.options.infectionRate}}</p>
                </div>
                <div class="option">
                    <img src="assets/icons/skull.svg" alt="">
                    <p>{{simulation.options.mortalityRate}}</p>
                </div>
                <div class="option">
                    <img src="assets/icons/tomb.svg" alt="">
                    <p>{{simulation.options.timeToDeath}}</p>
                </div>
                <div class="option">
                    <img src="assets/icons/heart.svg" alt="">
                    <p>{{simulation.options.timeToRecover}}</p>
                </div>
                <div class="option">
                    <img src="assets/icons/calendar.svg" alt="">
                    <p>{{simulation.options.maxSimulationDays}}</p>
                </div>
            </div>
        </div>
    </div>

</main>


