nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    top: 0;
    right: 0;

    a{
        text-decoration: none;
        color: var(--colorText);
        font-size: 1rem;
        margin: 0.3rem 2rem;
        padding: 0.5rem 1rem;

        &.active{
            border: 2px solid black;
        }
    }
}