
<div class="menu-icon" [ngClass]="open ? 'active' : 'naah'" >
    <input 
    class="menu-icon__cheeckbox" 
    type="checkbox" 
    
    [checked]="open" 
    (change)="open = !open"/>
    <div>
        <span class="span"></span>
        <span class="span"></span>
    </div>
</div>
<div class="nav-wrap" [ngClass]="open ? 'active' : 'naah'">
    <nav>
        <a [routerLink]='["/"]' pathMatch="'full'" routerLinkActive='active'>Main</a>
        <a [routerLink]='["/simulation2d/new"]' routerLinkActive='active'>Simulation2d</a>
        <a [routerLink]='["/simulation3d"]' routerLinkActive='active'>Simulation3d</a>
        <a [routerLink]='["/saved-simulations"]' routerLinkActive='active'>All simulations</a>
    </nav>     
</div>
   

