
<div class="menu-icon">
    <input 
    class="menu-icon__cheeckbox" 
    type="checkbox" 
    [ngClass]="open ? 'active' : 'naah'" 
    [checked]="open" 
    (change)="open = !open"/>
    <div>
        <span></span>
        <span></span>
    </div>
</div>
<div class="nav-wrap" [ngClass]="open ? 'active' : 'naah'">
    <nav>
        <a [routerLink]='["/"]' routerLinkActive='active'>Main</a>
        <a [routerLink]='["/simulation2d"]' routerLinkActive='active'>Simulation2d</a>
        <a [routerLink]='["/simulation3d"]' routerLinkActive='active'>Simulation3d</a>
        <a [routerLink]='["/saved-simulations"]' routerLinkActive='active'>All simulations</a>
    </nav>     
</div>
   

