<div class="slidecontainer" [ngClass]="disabled ? 'disabled' : 'active'">
    <div class="icon">
        <img [src]="icon" alt="">
    </div>
    <div class="text">
        <ng-content></ng-content>
    </div>
    <input 
    [(ngModel)]="inputModel" 
    (ngModelChange)="inputModelChange.emit(inputModel)"
    type="range" 
    [min]="min" 
    [max]="max" 
    [value]="value" 
    [step]="step"
    class="slider" 
    id="myRange">
    <div class="lines">
        <span *ngFor="let number of breakpoints"></span>
    </div>
    <div class="breakpoints">
        <div class="breakpoint" *ngFor='let number of breakpoints'>
            <div>{{number}}</div>
        </div>
    </div>
</div>