$fillColor: rgb(58, 58, 58);

.slidecontainer {
    width: 100%;
    position: relative;
    padding: 0.4rem 0;
    &.disabled{
        opacity: 0.5;
        pointer-events: none;
    }
}

.text{
    font-size: 0.9rem;
    white-space: nowrap;
    position: relative;
    z-index: 15;
    pointer-events: none;
    font-weight: 500;
    transition: 0.2s;
    color: var(--colorText);
    margin-bottom: 0.3rem;
    opacity: 1;
}

.icon{
    position: absolute;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: -2.5rem;
    border-radius: 50%;
    background-color: white;
    transform: translate(0,-50%);
    border: 3px solid $fillColor;
    

    img{
        height: 1.5rem;
        width: 1.5rem;
    }
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1.6rem;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: none;
    
    &:hover{
        opacity: 1; 
        &::-webkit-slider-thumb {
            background: rgb(197, 197, 197);
            box-shadow: -100vw 0 0 100vw rgb(80, 80, 80);            
        }
    }

    &::-webkit-slider-runnable-track {
        background: rgb(245, 245, 245);  
    }
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 40px;
        width: 0px;
        background: rgb(99, 99, 99);
        box-shadow: -100vw 0 0 100vw $fillColor;
        transition: 0.1s;  
    }
    
    &::-moz-range-track {
        height: 40px;
        background: #ddd;   
    }
    
    &::-moz-range-thumb {
        background: #fff;
        height: 40px;
        width: 1px;
        border-radius: 0 !important;
        box-shadow: -100vw 0 0 100vw var(--colorAccent1);
        box-sizing: border-box;
    }
    
    &::-ms-fill-lower { 
        background: var(--colorAccent1);
    }
    
    &::-ms-thumb { 
        background: #fff;
        height: 40px;
        width: 20px;
        box-sizing: border-box;
    }
    
    &::-ms-ticks-after { 
        display: none; 
    }
    
    &::-ms-ticks-before { 
        display: none; 
    }
    
    &::-ms-track { 
        background: #ddd;
        color: transparent;
        height: 40px;
        border: none;
    }
    
    &::-ms-tooltip { 
        display: none;
    }
}

.lines{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    position: relative;
    top: -10px;
    pointer-events: none;

    span{
        width: 1px; 
        background-color: #999; 
        transform: translate(25%,0);
    }
}

.breakpoints{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0.6;

    .breakpoint{
        position: relative;
        transform: translate(50%,0);
    }
}