$fillColor: rgb(139, 139, 139);
$sliderHeight: 1.4rem;
$activeColor: rgb(255, 255, 255);
$inactiveColor: rgb(90, 90, 90);

.wrap{
    &.dark{
        filter: invert(100%);
    }
}

.slidecontainer {
    width: 100%;
    position: relative;
    padding: 1.5rem 0;

    &.disabled{
        opacity: 0.3;
        pointer-events: none;
    }
    color: white;
}

.text{
    font-size: 0.9rem;
    white-space: nowrap;
    position: relative;
    z-index: 15;
    pointer-events: none;
    font-weight: 500;
    transition: 0.2s;
    margin-bottom: 0.3rem;
    opacity: 1;
    left: 0rem;
}

.icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.75rem;
    left: -1.5rem;
    pointer-events: none;

    img{
        height: 2.5rem;
        
        filter: invert(18%);
    }
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background-color: $inactiveColor;
    transition: 0.3s ease;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        // height: $sliderHeight;
        height: 1.3rem;
        width: 1.3rem;
        border: 3px solid $inactiveColor;
        border-radius: 50%;
        background: rgb(48, 48, 48);
        // box-shadow: -100vw 0 0 100vw $fillColor;
        transition: 0.1s;  
        z-index: 100;
        cursor: pointer;
        transition: 0.3s ease;
    }

    &:hover{
        background-color: $activeColor;
        &::-webkit-slider-thumb {
            border-color: $activeColor;
        }
    }

    
}

.lines{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    position: relative;
    top: -10px;
    pointer-events: none;

    span{
        width: 1px;
        background-color: #999; 
        transform: translate(25%,0);
    }
}

.breakpoints{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0.6;

    .breakpoint{
        position: relative;
        transform: translate(50%,0);
    }
}