$fillColor: rgb(139, 139, 139);
$sliderHeight: 1.4rem;

.wrap{
    &.dark{
        filter: invert(100%);
    }
}

.slidecontainer {
    width: 100%;
    position: relative;
    padding: 1.5rem 0;

    &.disabled{
        opacity: 0.3;
        pointer-events: none;
    }
    color: white;
}

.text{
    font-size: 0.9rem;
    white-space: nowrap;
    position: relative;
    z-index: 15;
    pointer-events: none;
    font-weight: 500;
    transition: 0.2s;
    margin-bottom: 0.3rem;
    opacity: 1;
    left: 0rem;
}

.icon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: .75rem;
    left: -2.5rem;
    pointer-events: none;

    img{
        height: 3.5rem;
        
        filter: invert(18%);
    }
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: $sliderHeight;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: none;
    z-index: 10;
    
    &:hover{
        opacity: 1; 
        &::-webkit-slider-thumb {
            background: rgb(197, 197, 197);
            box-shadow: -100vw 0 0 100vw rgb(80, 80, 80);            
        }
    }

    &::-webkit-slider-runnable-track {
        background: rgb(44, 44, 44);  
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.247) inset;
    }
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: $sliderHeight;
        width: 0px;
        background: rgb(99, 99, 99);
        box-shadow: -100vw 0 0 100vw $fillColor;
        transition: 0.1s;  
    }
    
    &::-moz-range-track {
        height: $sliderHeight;
        background: #ddd;   
    }
    
    &::-moz-range-thumb {
        background: #fff;
        height: $sliderHeight;
        width: 1px;
        border-radius: 0 !important;
        box-shadow: -100vw 0 0 100vw var(--colorAccent1);
        box-sizing: border-box;
    }
    
    &::-ms-fill-lower { 
        background: var(--colorAccent1);
    }
    
    &::-ms-thumb { 
        background: #fff;
        height: $sliderHeight;
        width: 20px;
        box-sizing: border-box;
    }
    
    &::-ms-ticks-after { 
        display: none; 
    }
    
    &::-ms-ticks-before { 
        display: none; 
    }
    
    &::-ms-track { 
        background: #ddd;
        color: transparent;
        height: $sliderHeight;
        border: none;
    }
    
    &::-ms-tooltip { 
        display: none;
    }
}

.lines{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    position: relative;
    top: -10px;
    pointer-events: none;

    span{
        width: 1px;
        background-color: #999; 
        transform: translate(25%,0);
    }
}

.breakpoints{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    opacity: 0.6;

    .breakpoint{
        position: relative;
        transform: translate(50%,0);
    }
}