main{
    background-color: rgb(34, 34, 34);
    height: 100vh;
    width: 100%;
    // box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.678);
    position: absolute;
    transition: 0.4s ease;
    left: 0;
    bottom: 0;

    &.hide{
        height: 5.5rem;
        
        overflow: hidden;

        .options-inputs{
            opacity: 0;
            overflow: hidden;
        }
    }

    .options-inputs{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 6rem 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        opacity: 1;
        transition: 0.2s ease;

        app-input-text{
            width: 100%;
            margin-bottom: 2rem;
        }

        app-input-range{
            position: relative;
            width: 100%;

            .input-label{
                display: flex;
                align-items: center;

                img{
                    height: 1rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .buttons{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 4rem;
        z-index: 100;

        >div{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: 1rem;
            }

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                transition: 0.1s ease;
                height: 100%;

                &:hover{
                    filter: invert(10%);
                    cursor: pointer;
                }


            }
        }

        .button-hide{
            position: absolute;
            bottom: 100%;
            left: 0;
            height: 1.5rem;
            background-color: white;
        }

        .button-start,.button-reset,.button-save{
            flex: 1 1;
        }

        .button-resume,.button-pause{
            flex: 5 1;
        }

        .button-reset{background-color: var(--colorAccent1);}
        .button-save{background-color: rgb(0, 195, 255);}
        .button-resume{background-color: rgb(123, 255, 47);}
        .button-pause{background-color: rgb(255, 196, 0);}
    }
}

// to component
.checkbox{
    display: block;
    margin: 1rem 0;
    color: white;

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }  
    label {
        position: relative;
        cursor: pointer;

        &:before {
            content:'';
            -webkit-appearance: none;
            background-color: transparent;
            border: 3px solid #ffffff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 10px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
        }
    }

    input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid #ffffff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}